
body{
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top left, #419399, #84bcbf);
    background: -o-linear-gradient(top left, #419399,  #84bcbf); /* Opera 11.10+ */
    background: -ms-linear-gradient(top left, #419399,  #84bcbf); /* IE10 */
    background: -moz-linear-gradient(top left, #419399,  #84bcbf); /* IE10 */
    background: linear-gradient(top left, #419399,  #84bcbf); /* CSS3 */ 
    font: normal 14px/20px Tahoma, Verdana, Arial;
	color: #565656;
}
#wrapper{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
			-ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	display: block;
	height: auto !important;
	min-height: 100%;	
	margin: 10px auto;
	}
	header{
		background: #323335;
		display: block;
	}header:after {
			content: '.';	
			clear: both;
			display: block;
			height: 0;
			visibility: hidden;	
			}
	#content {
		background: #dfdfdf;
		line-height: 1;
		min-height: 300px;
		padding: 0 0 100px;	
		width: 100%;
		}
		#content:after {
			content: '.';	
			clear: both;
			display: block;
			height: 0;
			visibility: hidden;	
			}
			
	
	.left_sidebar{
		float: left;
	}
	.center{
		float: right;
	}
	.conteiner{
		float: left;
		width: 100%;
	}


@media screen  and (max-width: 799px){
	#wrapper{
		width: 640px;
	}
	.left_sidebar{
		width: 635px;
	}
	.center{
		width: 635px;
	}
}

@media screen and (min-width: 800px) and (max-width: 999px){
	#wrapper{
		width: 800px;
	}
	.left_sidebar{
		width: 760px;
	}
	.center{
		width: 760px;
		margin-right: 20px;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1255px){
	#wrapper{
		width: 1000px;
	}
	.left_sidebar{
		width:240px;
	}
	.center{
		width: 760px;
	}
}

@media screen and (min-width: 1256px) and (max-width: 1339px){
	#wrapper{
		width: 1255px;
	}
	.left_sidebar{
		width:245px;
	}
	.center{
		width: 1010px;
	}
}

@media screen and (min-width: 1340px){
	#wrapper{
		width: 1340px;
	}
	.left_sidebar{
		width:310px;
	}
	.center{
		width: 1010px;
	}
}
