/*модальные окна*/
.m{
	background: rgba(0, 0, 0, 0.7);
	display: block;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	overflow: auto;
	text-align: center;	
	z-index: 100;		
	}
	.m.nobackground{
		background: transparent url('../../../../images/background.jpg');
		background-repeat:  repeat;
		background-position: center bottom;
		}
	.m_m{
		display: table;
		float: left;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		}
		.m_m_m{
			display: table-cell;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			}
			.m.nobackground .m_m_m_body{
				background: transparent !important;
				border: none;
			}
			.m_m_m_body{
				background: #fff;
				border: 1px solid silver;
				display: inline-block;
				max-width: 960px;
				min-width: 350px;
				padding: 5px;
				width: 600px;
				}
				.m_m_m_header{
					background: #007f7f;
					display:block;
					margin-bottom: 15px;
					padding: 10px 10px;
					position: relative;
					text-align: left;
					}
					.m_m_m_header .title{
						color: #fff;
						font: 18px/18px Tahoma, Arial, Sans-Serif;
						}
					.m_m_m_header .close{
						background: url('../../../images/white/cancel.png') no-repeat;
						background-size: 30px;
						cursor: pointer;
						float: right;
						height: 32px;
						right: 3px;
						top: 2px;
						position: absolute;
						width: 32px;
						}
				