.cart{
	background: url('../../images/cart_header_bg.gif') no-repeat;
	background-position: 28px 0;
	float: right;
	height: 32px;
	padding-left: 70px;
	width: 170px;
	}
	.cart .title{
		color: #2b2b2b;
		}
	.cart .cart_link{
		color: #6d6d6d;
		}

	