.cart_list{
	counter-reset: point;
	float: right;
	list-style: none;
	margin-top: 10px;
	width: 678px;
	}
	.cart_list li{
		float: left;
		margin-bottom: 10px;
		min-height: 30px;
		position: relative;
		width: 100%;
		}
		.cart_list li:before{
			background: #8bb203;
			color: #eee;
			content: counter(point);
			counter-increment: point 1;
			height: 23px;
			line-height: 23px;
			left: -38px;
			position: absolute;
			text-align: center;
			top: 0px;
			width: 23px;
			}
		.cart_list li .image{
			float: left;
			height: 50px;
			width: 50px;
			}
			.cart_list li .image a{
				border: 1px solid #cacaca;
				display: table-cell;
				height: 48px;
				position: relative;
				text-align: center;
				transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
				vertical-align: middle;
				width: 40px;
				}
				.cart_list li .image a:hover{
					border: 1px solid #333;
					}
				.cart_list li .image a img{
					max-width: 36px;
					max-height: 46px;
					}
		.cart_list li .name{
			float: left;
			font-size: 14px;
			height: 50px;
			width: 380px;
			}
			.cart_list li .name a{
				display: table-cell;
				height: 50px;
				text-align: left;
				vertical-align: middle;
				width: 380px;
				}
			
		.cart_list li .count{
			color: #8bb203;
			float: left;
			font-size: 16px;
			font-weight: bold;
			height: 50px;
			width: 120px;
			}
			.cart_list li .count .value{
				float: left;
				line-height: 50px;
				width: 50px;
				}
			.cart_list li .count .plus{
				float: left;
				margin-right: 5px;
				padding-top: 13px;
				}
			.cart_list li .count .minus{
				float: left;
				margin-right: 5px;
				padding-top: 13px;
				}
		.cart_list li .price{
			color: #8bb203;
			float: left;
			font-size: 14px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 100px;
			}
		.cart_list li .delete{
			float: right;
			padding-top: 13px;
			}
			
.itogo{
	counter-reset: point;
	float: right;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	width: 678px;
	}

			