.products{
	float: left;
	margin-bottom: 10px;
	width: 100%;
	}
	.products .product{
		background: #e3e3e3;
		border: 1px solid #e3e3e3;
		float: left;
		margin: 0px 0px 2px 2px;
		overflow: hidden;
		position: relative;
		transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
		width: 236px;
		}
		.products .product a{
			color: #eee;
			}
		.products .product a:hover{
			color: silver;
			}
		.products  .product:hover{
			border: 1px solid  rgba(0, 0, 0, 0.8);
			}
		.products .product .main{
			float: left;
			height: 263px;
			width: 236px;
			}
			.products .product .main .image{
				float: left;
				height: 263px;
				width: 236px;
				}
				.products .product .main a img{
					height: 263px;
					width: 236px;
					}
		.products .product .main .param1{
			background: rgba(0, 0, 0, 0.8);
			height: 75px;
			left: 15px;
			padding: 10px 15px; 
			position: absolute;
			top: 263px;
			width: 176px;
			transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
			}
			.products .product .main:hover .param1{
				top: 155px;
				}
			.products .product .main .param1 .name{
				float: left;
				line-height: 14px;
				height: 35px;
				width: 100%;
				}
			.products .product .main .param1 .prices{
				color: #c4e562; 
				float: left;
				height: 40px;
				width: 48%;
				}
				.products .product .main .param1 .prices .now{
					float: left;
					font-weight: bold;
					font-size: 13px;
					height: 20px;
					width: 100%;
					}
				.products .product .main .param1 .prices .last{
					float: left;
					height: 20px;
					text-decoration: line-through;
					width: 100%;
					}
			.products .product .main .param1 .addtocart{
				float: right;
				height: 20px;
				padding-top: 20px;
				width: 48%;
				}
				.products .product .main .param1 .addtocart a .ico{
					background: url('../../images/icons.png') no-repeat;
					background-position: -48px -114px;
					float: left;
					height: 12px;
					width: 17px;
					}
			
