.product_images{
	float: left;
	width: 238px;
	}
	.main_image{
		float: left;
		height: 264px;
		margin-bottom: 2px;
		position: relative;
		width: 238px;
		}
		.main_image a{
			background: #fff;
			border: 1px solid #cacaca;
			display: table-cell;
			height: 263px;
			text-align: center;
			transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
			vertical-align: middle;
			width: 236px;
			}
			.main_image a:hover{
				border: 1px solid #333;
				}
			.main_image a:hover .zoom{
				opacity: 0.6;
				}
		.main_image a img{
			max-height: 260px;
			max-width: 232px;
			}
		.main_image .zoom{
			background: url('../../images/pic_zoom.png') 50% 50% no-repeat;
			background-size: 25% 25%;
			height: 264px;
			left: 0px;
			opacity: 0;
			position: absolute;
			top: 0px;
			transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-webkit-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
			width: 238px;
			}
	.images{
		float: left;
		height: 264px;
		width: 238px;
		}
		
		.images .image{
			float: left;
			margin: 0px 2px 2px 0;
			position: relative;
			width: 78px;
			}
			.images .image:nth-child(3n){
				margin-right: 0px;
				}
			.images .image a{
				border: 1px solid #cacaca;
				display: table-cell;
				height: 86px;
				position: relative;
				text-align: center;
				transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
				vertical-align: middle;
				width: 76px;
				}
				.images .image a:hover{
					border: 1px solid #333;
					}
				.images .image a:hover .zoom{
					opacity: 0.6;
					}
				.images .image a img{
					margin: auto;
					max-width: 72px; 
					}
				.images .image .zoom{
					background: url('../../images/pic_zoom.png') 50% 50% no-repeat;
					background-size: 50% 50%;
					height: 86px;
					left: 0px;
					opacity: 0;
					position: absolute;
					top: 0px;
					transition: all 0.4s ease-in-out;
						-o-transition: all 0.4s ease-in-out;
						-moz-transition: all 0.4s ease-in-out;
						-webkit-transition: all 0.4s ease-in-out;
						-ms-transition: all 0.4s ease-in-out;
					width: 76px;
					z-index: 1;
					}