.product_about{
	float: right;
	width: 465px;
	}
	.product_about .title{
		float: left;
		font-size: 20px;
		color: #8bb203;
		line-height: 25px;
		padding-bottom: 35px;
		width: 100%;
		}
	.product_about .price{
		float: left;
		font-size: 16px;
		color: #8bb203;
		line-height: 25px;
		padding-bottom: 20px;
		width: 100%;
		}
		.product_about .price .now{
			float: left;
			font-weight: bold;
			}
		.product_about .price .last{
			float: left;
			font-size: 14px;
			margin-left: 25px;
			text-decoration: line-through;
			}
		.product_about .price .add{
			float: right;
			}
		
.underline{
	border-bottom: 1px solid #cacaca;		
	}