.block1{
	width: 960px;
}
.block2{
	width: 480px;
}
.block3{
	width: 320px;
}
.block4{
	width: 240px;
}
.block5{
	width: 192px;
}
.block6{
	width: 160px;
}
.block8{
	width: 120px;
}
.block10{
	width: 96px;
}
.block12{
	width: 80px;
}