.brands{
	float: left;
	width: 100%;
	}
	.brands .line{
		float: left;
		
		width: 240px;
		}
		.brands .line a{
			color: #333;
			float: left;
			height: 40px;
			padding: 10px;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			width: 220px; 
			}
			.brands .line a:hover{
				background: rgba(69, 196, 49, 0.1);
				}
			.brands .line a .image{
				float: left;
				width: 95px;
				}
				.brands .line a .image img{
					height: 40px;
					max-width: 90px;
					opacity: 0.5;
					}
				.brands .line a.active .image img{
					opacity: 1;
					}
			.brands .line a .name{
				font: 12px/20px Tahona, Arial;
				display: table-cell;
				height: 40px;
				vertical-align: middle;
				text-decoration: underline;
				width: 130px;
				}
			.brands .line a.active .name{
				color: #45C431;
				text-deocration: none;
					}
			