body{
	background-color: #333;
	background-image: url('../../images/city8_tattoo_logo_big.png'), url('../../images/background.jpg');
        background-repeat: no-repeat, repeat;
        background-position: center bottom ;
        background-attachment: fixed;
    font: normal 16px/20px Verdana, Arial, sans-serif;
    color: #fff;
	display: block;
	height:100%;
	}	

strong{
	font-weight: bold;
	}
	
a{
    color: #45C431;
	text-decoration: none;
	}

a:hover{
    text-decoration: underline;
	}
	
	#body2{
       	background-image: url('../../images/city8_tattoo_logo_big.png'), url('../../images/background.jpg');
	    background-repeat: no-repeat, repeat;
	    background-position: center bottom ;
	    background-attachment: fixed;
		display: block;
		height: 100%;
		padding: 0px 0;
		position: fixed;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		overflow: auto;
		z-index: 1;
		}
		
#wrapper{
	display: block;
	height: auto !important;
	min-height: 100%;	
	width: 100%;
	}
	
	#wrapper_header{
		background: url('../../images/background_light.jpg') ; 
		box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
			-moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
			-ms-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
			-o-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
	   		-webkit-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
        height: 306px;
		position: absolute;
		width: 100%;
		z-index: 10;
		}

		#wrapper_header .fix{
			float: left;
			height: 306px;
			overflow: hidden;
			position: relative;
			width: 100%;
			}
			#wrapper_header .fix .mask{
				box-shadow: inset 0px 0px 350px rgba(0,0,0,0.9);
					-moz-box-shadow: inset 0px 0px 350px rgba(0,0,0,0.9);
					-ms-box-shadow: inset 0px 0px 350px rgba(0,0,0,0.9);
					-o-box-shadow:  inset 0px 0px 350px rgba(0,0,0,0.9);
			   		-webkit-box-shadow:  inset 0px 0px 550px rgba(0,0,0, 0.9);
				height: 900px;
				position: absolute;
				top: -20px;
				width: 100%;
				z-index: 1;
			}

		#header{
			height: 306px;
			margin: 0 auto;
			padding: 0 20px;
			position: relative;
			width: 920px;
			z-index: 12;
			}
			#header:after {
				content: '.';	
				clear: both;
				display: block;
				height: 0;
				visibility: hidden;	
				}
	#wrapper_content{
		padding-top: 326px;
		width: 100%;
		}		
		#content {
			margin: 0 auto;
			line-height: 1;
			width: 1000px;
			}
			#content:after {
				content: '.';	
				clear: both;
				display: block;
				height: 0;
				
				visibility: hidden;	
				}


	#wrapper_footer{
		width: 100%;
		}
		#footer{
			height: 180px;
			margin: -180px auto 0;
			position: relative;
			width: 960px;
			}

				
.conteiner{
		float: left;
		width: 100%;
		}

.ajax_loader{
	background: url('../../images/ajax-loader.gif' ) no-repeat;
	background-position: left center;
	color: #9d9d9d;
	font: bold 20px/30px Verdana, Tahona, Arial;
	display: block;
	letter-spacing: 0.15em;
	padding-left: 40px;
	margin: 20px auto;
	text-transform: uppercase;
	width: 250px;
}
@media screen  and (min-height: 1000px){
	#wrapper_header{
		position: fixed;
		}
}
		