#footer .left{
	float: left;
	height: 100%;
	width: 200px;
	}
#footer  .center{
	float: left;
	height: 100%;
	width: 220px;
	}
	
#footer  .right{
	float: right;
	height: 100%;
	width: 280px;
}

#footer .line{
	float: left;
	height: 30px;
	width: 100%;
	}
	#footer .line:first-child{
		color: #45C431 ;
		font: 16px/30px 'Russo One', Tahoma, Arial;
		}
		#footer .line:first-child a{
			color: #45C431 ;
			text-decoration: underline;
			}
		#footer .line:first-child a:hover{
			text-decoration: none;
			}
		#footer .line a{
			color: #333;
			text-decoration: underline;
			}
		#footer .line a:hover{
			text-decoration: none;
			}
			
		#footer .line .phone{
			float: left;
			height: 30px;
			width: 100%;
			}
			#footer .line .phone .image{
				float: left;
				height: 30px;
				width: 50px;
				}
				#footer .line .phone .image img{
					height: 20px;
					margin-top: 5px;
					}
			#footer .line .phone .text{
				float: left;
				height: 30px;
				line-height: 30px;
				}
				
			#footer .line .email{
				color: #45C431 ;
				float: left;
				font-weight: bold;
				height: 100%;
				line-height: 30px;
				}
			#footer .line .copyring{
				color: silver;
				float: left;
				height: 30px;
				line-height: 30px;
				}