#header .left{
	float: left;
	width: 150px;
}
#header .logo{
	float: left;
	margin: 0 10px;
	width: 600px;
	}
	#header .logo div{
		display: table-cell;
		height: 306px;
		vertical-align: middle;
		text-align: center;
		width: 600px;
		}
		#header .logo div a{
			opacity: 1;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			}
			#header .logo div a:hover{
				opacity: 0.7;
				}
#header .right{
	float: right;
	width: 150px;
}

.language{
	margin-top: 24px;
	float: right;
	}
	.language a{
		border-right: 2px solid #9d9d9d;
		color: #9d9d9d;
		float: left;
		font: bold 12px Verdana, Tahoma, Arial;
		letter-spacing: 1px;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
		padding: 0 10px;
		}
		.language a:first-child{
			
			}
		.language a:last-child{
			border: none;
			padding: 0 0 0 10px;
			}
		.language a.active{
			color: #fff;
			}
		.language a:hover{
			color: #fff;
			text-decoration: none;
		}
		  
			
#header .soc{
	float: right;
	padding: 45px 0;
	width: 24px;
}
.soc a{
	float: left;
	height: 24px;
	margin-bottom: 20px;
	transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
	width: 27px;
	}
	.soc a.vk{
		background-image: url('../../images/social_networks/vkontakte.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.fb{
		background-image: url('../../images/social_networks/facebook.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.tw{
		background-image: url('../../images/social_networks/twitter.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.gp{
		background-image: url('../../images/social_networks/google.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
/* hover */
	.soc a.vk:hover{
		background-image: url('../../images/social_networks/vkontakte_white.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.fb:hover{
		background-image: url('../../images/social_networks/facebook_white.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.tw:hover{
		background-image: url('../../images/social_networks/twitter_white.png');
		background-position: center center;
		background-repeat: no-repeat;
		}
	.soc a.gp:hover{
		background-image: url('../../images/social_networks/google_white.png');
		background-position: center center;
		background-repeat: no-repeat;
		}