.left_block{
	float: left;
	margin-bottom: 10px;
	width: 100%;
	}
	.block_title{
		background: rgba(69, 196, 49, 1); /* #45C431; */
		color: #fff;
		float: left;
		font: 16px/20px Tahoma, Arial;
		height: 20px;
		padding: 10px;
		width: 220px;
		}