.left_menu{
	float: left;
	height: 240px;
	padding: 33px 0;
	position: relative;
	width: 250px;
	z-index: 11;
}

	.left_menu .level1{
		float: left;
		height: 48px;
		width: 100%; 
		}

		.left_menu .level1 a{
			color: #9d9d9d;
			float: left;
			font: bold 16px/48px Verdana, Tahona, Arial;
			letter-spacing: 0.15em;
			text-decoration: none;
			text-transform: uppercase;
			}
			.left_menu .level1:hover a{
				color: #fff;
				}
			.left_menu .level1:hover .arrow{
				background:  url('../../images/arrow_white.png') no-repeat;
				background-position: center center;
				}
			.left_menu .level1 a:hover{
				color: #fff;
				}
			.left_menu .level1.active a{
				color: #fff;
				}
			.left_menu .level1:hover .level2{
				opacity: 1;
				visibility: visible;
				}
			.left_menu .level1 .arrow{
				background:  url('../../images/arrow.png') no-repeat;
				background-position: center center;
				cursor: pointer;
				float: left;
				height: 48px;
				padding-left: 10px;
				position: relative;
				width: 6px;
				}
			.left_menu .level2{
				
				opacity: 0;
				padding: 6px 10px 0;
				position: absolute;
				text-decoration: none;
				transition: opacity 0.4s ease-in-out;
					-o-transition: opacity 0.4s ease-in-out;
					-moz-transition: opacity 0.4s ease-in-out;
					-webkit-transition: opacity 0.4s ease-in-out;
					-ms-transition: opacity 0.4s ease-in-out;
				visibility: hidden;
				width: 140px;
				z-index: 12;
				}
				.left_menu .level2 li{
					float: left;
					height: 37px;
					width: 100%; 
					}
					.left_menu .level2 li a{
						background: rgba(255, 255, 255, 0);
						font: 16px/37px Verdana, Tahona, Arial;
						padding: 0 10px;
						}
						.left_menu .level2 li a:hover{
							background: #FFFFFF;
							color: #333;
							text-decoration: none;
							}