/*модальные окна*/
.m{
	background: rgba(0, 0, 0, 0.7);
	display: block;
	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	overflow: auto;
	text-align: center;	
	z-index: 100;		
	}
	.m_m{
		display: table;
		float: left;
		height: 100%;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		}
		.m_m_m{
			display: table-cell;
			padding: 5px 0;
			text-align: center;
			vertical-align: middle;
			}
			.m_m_m_body{
				background: transpatent;
				display: inline-block;
				max-width: 920px;
				min-width: 350px;
				}
				.m_m_m_header{
					height: 30px;
					display:block;
					position: relative;
					text-align: left;
					}
					.m_m_m_header .title{
						color: #fff;
						font: 18px/18px Tahoma, Arial, Sans-Serif;
						}
					.m_m_m_header .close{
						background: url('../../images/cancel.png') no-repeat;
						background-size: 40px;
						background-position: 0 -5px;
						cursor: pointer;
						float: right;
						height: 30px;
						right: 0px;
						opacity: 0.7;
						position: absolute;
						transition: all 0.1s ease-in-out;
							-o-transition: all 0.1s ease-in-out;
							-moz-transition: all 0.1s ease-in-out;
							-webkit-transition: all 0.1s ease-in-out;
							-ms-transition: all 0.1s ease-in-out;
						top: 0px;
						width: 30px;
						}
						.m_m_m_header .close:hover{
							opacity: 1;
							}
					.m_m_m_header .soc{
						height: 30px;
						float: left;
						}
						.m_m_m_header .soc a{
							margin-top: 3px;
							margin-right: 5px;
							}
				.m_m_m_content{
					background: #000 url('../../images/ajax-loader.gif') no-repeat;
					background-position: center center;
					border: 6px solid #262626;
					float: left;
					max-width: 908px;
					min-width: 350px;
					min-height: 350px;
					position: relative;
					}
					.m_m_m_content img{
						max-width: 908px;
						}
						
					.photo_navigation{
						float: left;
						height:0px;
						position: absolute;
						top: 45%;
						width: 100%;
						z-index: 6;
						}
						.photo_navigation .arrow_left{
							background: rgba(0,0,0,0.7) url('../../images/arrow_slider_left.png') no-repeat;
							background-position: center center;
							cursor: pointer;
							height: 100px;
							/* left: -46px; */
							left: 0px;
							opacity: 1;
							position: absolute;
				 			transition: all 0.1s ease-in-out;
									-o-transition: all 0.1s ease-in-out;
									-moz-transition: all 0.1s ease-in-out;
									-webkit-transition: all 0.1s ease-in-out;
									-ms-transition: all 0.1s ease-in-out; 
							width: 40px;
							z-index: 6;
							}
							.photo_navigation .arrow_left:hover{
								opacity: 0.5;
								}
						.photo_navigation .arrow_right{
							background: rgba(0,0,0,0.7) url('../../images/arrow_slider_right.png') no-repeat;
							background-position: center center;
							cursor: pointer;
							height: 100px;
							/* right: -46px; */
							right: 0px;
							opacity: 1;
							position: absolute;
				 			transition: all 0.1s ease-in-out;
									-o-transition: all 0.1s ease-in-out;
									-moz-transition: all 0.1s ease-in-out;
									-webkit-transition: all 0.1s ease-in-out;
									-ms-transition: all 0.1s ease-in-out; 
							width: 40px;
							z-index: 3;
							}
							.photo_navigation .arrow_right:hover{
								opacity: 0.5;
								}
						.view_image{
							float: left;
							height: 100%;
							}
							.view_image div{
								display: none;
								float: left;
								width: 100%;
								}
								.view_image div img{
									display: block;
									margin: 0 auto;
								}
							.view_image div.show{
								display: block;
							}
				.m_m_m_footer{
					display: block;
					height: 36px;
					}	
					.m_m_m_footer .photo_atributes{
						float: left;
						height: 16px;
						margin-top: 10px;
						overflow: hidden;
						width: 100%;
						}	
						.m_m_m_footer .photo_atributes .photo{
							float: left;
							height: 16px;
							letter-spacing: 0.15em;
							text-transform: uppercase;
							}	
							.m_m_m_footer .photo_atributes .photo .artist_name {
								border-right: 2px solid #fff;
								float: left;
								padding-right: 10px;
								}
								.m_m_m_footer .photo_atributes .photo .artist_name a{
									color: #fff;
									float: left;
									font: bold 16px/16px Verdana, Tahoma, Arial;
									}
									.m_m_m_footer .photo_atributes .photo .artist_name a:hover{
										text-decoration: underline;
									}
							.m_m_m_footer .photo_atributes .photo .photo_name {
								border-right: 2px solid #fff;
								float: left;
								font: 16px/16px Verdana, Tahoma, Arial;
								height: 16px;
								letter-spacing: 0.15em;
								padding: 0 10px;
								text-transform: uppercase;
								}
							.m_m_m_footer .photo_atributes .photo .photo_date {
								float: left;
								font: 16px/16px Verdana, Tahoma, Arial;
								height: 16px;
								letter-spacing: 0.15em;
								padding: 0 10px;
								text-transform: uppercase;
								}