
		
.scroll, .scroll-horizontal, .scroll-pane, .scroll-wrap{
    position:relative;
    overflow:hidden;
    zoom:1;
}
.scroll-wrap, .scroll, .scroll-horizontal{ width:100%; height:100%; }
.scroll-pane{ padding-right:7px; }
.scroll-horizontal .scroll-pane{ padding-right:0; padding-bottom:7px; }
.scroll-track{
	background: rgba(0, 0, 0, 0.2);
    position:absolute;
    top:0; bottom:0;
    right:0px;
    width:10px;
    opacity:.7;
    filter:alpha(opacity = .7);
    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -ms-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
    z-index:1;
}
.touch .scroll-track{ opacity:.7; filter:alpha(opacity = 70); }
.scroll-horizontal .scroll-track{
    top:auto; bottom:0;
    left:0;
    height:7px; width:auto;
}
.scroll-track .scroll-drag{
    position:relative;
    width:100%; margin-top:0;
    background:#262626;
}
.scroll-horizontal .scroll-track .scroll-drag{
    height:7px; margin-left:0;
    margin-top:0 !important;
    width:auto;
}
.scroll.hover > .scroll-track,
.scroll.mousedown > .scroll-track,
.scroll-horizontal.mousedown > .scroll-track,
.scroll-horizontal.hover > .scroll-track{ opacity:.7; filter:alpha(opacity = 70); }
.touch.hover > .scroll-track{ opacity:1; filter:alpha(opacity = 100); }
.user-select-none, .user-select-none *{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.scroll.mousedown > .scroll-track .scroll-drag, .scroll-horizontal.mousedown > .scroll-track .scroll-drag{     background:#262626; }
.touch-true{ overflow:auto !important }
.scroll.scroll-off > .scroll-track, .scroll-horizontal.scroll-off > .scroll-track{ display:none; }
}