.top_menu{
	
	float: right;
	width: 100%;
	}
	.top_menu nav{
		background:  rgba(69, 196, 49, 1);
		float: right;
		height: 40px;
		}
		.top_menu nav a{
			background: rgba(69, 196, 49, 1);;/* rgba(69, 196, 49, 0.1); */
			color: #fff;
			display: table-cell;
			font: 14px/20px Tahoma, Arial;
			height: 40px;
			text-align: center;
			opacity: 1;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			text-decoration: none;
			vertical-align: middle;
			width: 144px;
			}

			.top_menu nav a:hover{
				background: #F58362;
				text-decoration: none;
				color: #fff;
				}
			.top_menu nav a.active{
				background: #F58362;
				color: #fff;
				text-decoration: none;
				}
