button, .button{
	background: #45C431;
	
	border: none;
	color: #fff;
	
	cursor: pointer;
	font: 14px/40px 'Russo One', Tahoma, Arial;
	float: right;
	height: 40px;
	padding: 0 10px;
	text-align: center;
	transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
	}
	button:hover, .button:hover{
		background: #ECF8E9;
		color: #45C431;
		text-decoration: none;
		opacity: 1;
		}
	.button.one{
		width: 124px;
		margin-bottom: 10px;
		}
