.form{
	display: block;
	padding: 25px 0 25px 25px;	
	}
	.form:after {
		content: '.';	
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;	
		}
	.form .line{
		float: left;
		margin-bottom: 5px;
		min-height: 30px;
		width: 100%;
		}
		.form_pretext{
			display: table-cell;
			height: 30px;
			vertical-align: middle;
			width: 693px;
			}
			.form_title_marker{
				color: red;
				font-size: 10px;
				margin: 0 5px;
				}
		.form .line .title{
			font-size: 12px;
			display: table-cell;
			height: 30px;
			vertical-align: middle;
			width: 150px;
			}
		.form .line .value{
			display: table-cell;
			height: 30px;
			vertical-align: middle;
			width: 543px;
			}
			.form .line .value .item{
				float: left;
				}
			.error{
				color: red;
				font: normal 10px/25px Tahoma, Verdana, Arial;
				float: left;
				margin: 0 10px;
				}

select{
	background: #fff;
	border: 1px solid #d9d9d9;
	color: #706c56;
	font-size: 10px;
	padding: 1px;
	transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
	}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
	background: #fff;
	border: 1px solid #d1d1d1;
	color: #111;
	float: left;
	font: 16px/28px Tahoma, Arial;
	height: 28px;
	margin: 0px;
	padding: 1px;
	text-indent: 10px;
	transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
	width: 284px;
}
textarea{
	background: #fff;
	border: 1px solid #d1d1d1;
	color: #111;
	float: left;
	font: 16px/20px Tahoma, Arial;
	min-height: 100px;
	padding: 0;
	position: relative;
	text-indent: 10px;
	top: -2px;
	transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
	width: 286px;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus{
	border: 1px solid #333;
}

input[type="radio"],
input[type="checkbox"]{
	margin: 0px;
}

