<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>What we do</title>
	
	<link rel="stylesheet" href="../css/common/reset.css" type="text/css" media="screen, projection">
	
	<link rel="stylesheet" href="../css/content/artist.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/content/pager.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/content/page_title.css" type="text/css" media="screen, projection">
	
	<link rel="stylesheet" href="../css/content/product_images.css" type="text/css" media="screen, projection">
	
	<link rel="stylesheet" href="../css/content/slider.css" type="text/css" media="screen, projection">
	
	<link rel="stylesheet" href="../css/layouts/back_to_top.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/layouts/common.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/layouts/header.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/layouts/footer.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/layouts/left_menu.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="../css/layouts/modal.css" type="text/css" media="screen, projection">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
</head>
<body>
    <script type="text/template" id="modalTemplate">
		<div class="m_m">
			<div class="m_m_m">
				<div class="m_m_m_body">
					<div class="m_m_m_header"></div>
					<div class="m_m_m_content">
						content
					</div>
					<div class="m_m_m_footer">
						
					</div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="pictureTemplate">
								<span class="img">
									<img alt="" src="<%= url %>" alt="<%= image_name %>" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name"><%= master_name %></span>
										<span class="name">«<%= image_name %>»</span>
										<span class="date"><%= date %></span>
									</span>
								</span>
							</script>
	<div id="body2">
		<div id="wrapper">
			<div id="wrapper_header">
				<div class="fix">
					<div class="mask"></div>
					<div id="header">
						<div class="conteiner">
							<div class="left">
								<ul class="left_menu">
									<li class="level1 "><a href="#">home</a></li>
									<li class="level1">
										<a href="#">what we do</a>
											<div class="arrow">
												<ul class="level2">
												<li><a href="#">tatoo</a></li>
												<li><a href="#">permanent</a></li>
												<li><a href="#">flash</a></li>
											</ul>
										</div>
										
									</li>
									<li class="level1 active"><a href="#">artists</a></li>
									<li class="level1"><a href="#">info</a></li>
									<li class="level1"><a href="#">contacts</a></li>
								</ul>
							</div>
							<div class="logo">
								<div>
									<a href="#" title="На главную">
										<img alt="logo" src="../images/city8_tattoo_logo.png" />
									</a>
								</div>
							</div>
							<div class="right">
								<div class="conteiner">
									<nav class="language">
										<a href="#">БЕЛ</a>
										<a href="#">РУС</a>
										<a class="active" href="#">ENG</a>
									</nav>
								</div>
								<div class="conteiner">
									<nav class="soc">
										<a class="vk" href="#"></a>
										<a class="fb" href="#"></a>
										<a class="tw" href="#"></a>
										<a class="gp" href="#"></a>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="wrapper_content">
				<div class="back_to_top">
					back to top
				</div>
				<div id="content">
					<div class="conteiner">
						<nav class="filters">
							<a  class="active"  href="#"><span>all</span></a>
							<a href="#"><span>tatoo</span></a>
							<a href="#"><span>permanent</span></a>
							<a href="#"><span>flash</span></a>
						</nav>
					</div>
					
					<div class="conteiner">
						<div class="images sens_pictures">
							
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>
							<a href="#" class="show_pictures">
								<span class="img">
									<img alt="" src="../images/catalog/2.jpg" alt="tatoo" />
								</span>
								<span class="about">
									<span class="mask">
										<span class="master_name">Имя мастера</span>
										<span class="name">«Валильки»</span>
										<span class="date">
											12.13.2003
										</span>
									</span>
								</span>
							</a>

						</div>
					</div>
					
					<div class="conteiner">
						<div class="postr">
							<a href="#" class="prev"></a>
							<a href="#" class="a str_a">1</a>
							<a href="#" class="str_a">2</a>
							<a href="#" class="str_a">3</a>
							<a href="#" class="str_a">4</a>
							<a href="#" class="str_a">5</a>
							<span>...</span>
							<a href="#" class="str_a">7</a>		
							<a href="#" class="next"></a>			
						</div>
					</div>
					

				</div>
			</div>
		</div>

	</div>
	<!-- <script type="text/javascript"  src="../js/main.js"></script> -->
	<!-- <script type="text/javascript"  src="../js/backtotop.js"></script> -->
	<script type="text/javascript"  src="../js/underscore.js"></script>
	<script type="text/javascript"  src="../js/backbone.js"></script>
	<script type="text/javascript"  src="../js/modal.js"></script>
	<script type="text/javascript"  src="../js/pictures.js"></script>

</body>
</html>
