.btn{
	opacity: 1;
	position: relative;
	transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-webkit-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
	}
	.btn:hover{
		opacity: 0.6;
	}
	.btn:active{
		top: 0px;
	}
.magento{
	background: magento;
}
.purple{
	background: purple;
}
.teal{
	background: teal;
}
.lime{
	background: lime;
}
.teal{
	background: teal;
}
.brown{
	background: brown;
}
.pink{
	background: pink;
}
.orange{
	background: orange;
}
.red{
	background: red;
}
.green{
	background: green;
}	
.blue{
	background: blue;
}
.yellow{
	background: yellow;
}
.grey{
	background: #565656;
}
.silver{
	background: silver;
}
.gold{
	background: gold;
}
.actions{
	display: inline-block;
	height: 25px;
	position: relative;
	top: 3px;
	}
	.actions a, .actions div{
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		-ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		display: inline-block;
		height: 25px;
		width: 25px;
		}
	.actions a.view{
		background: #eee url('../../../images/black_without_circle/play.png') center center no-repeat;
		background-size: 30px;
		}
	.actions a.edit{
		background: #eee url('../../../images/black_without_circle/edit.png') center center no-repeat;
		background-size: 30px;
		}
	.actions a.delete{
		background: #eee url('../../../images/black_without_circle/delete.png') center center no-repeat;
		background-size: 30px;
		}
	.actions div.vk{
		background: #eee url('../../../images/vk.jpg') center center no-repeat;
		background-size: 17px;
		}
	.actions div.vk.approved{
		background: orange url('../../../images/vk.jpg') center center no-repeat;
		background-size: 17px;
		}
	.actions a.photos{
		background: #eee url('../../../images/black_without_circle/camera.png') center center no-repeat;
		background-size: 30px;
		}
		
