/*master page*/
.master{
	height: 410px;
	float: left;
	margin: 0 40px;
	width: 920px;
	}
	.master .image{
		float: left;
		height: 410px;
		overflow: hidden;
		width: 500px;
		}
		.master .image img{
			height: 410px;
			}
	.master .right{
		float: right;
		height: 410px;
		width: 400px; 
		}


		.master .right .name{
			float: left;
			font: bold 20px/20px Tahoma, Arial !important;
			letter-spacing: 0.15em;
			text-transform: uppercase;
			width: 380px;
			}
		.master .right .text{
			float: left;
			font: 14px/20px Tahoma, Arial !important;
			letter-spacing: 0.15em;
			width: 380px;
			}
/*end master page*/


/*slider*/

.slider .artist{
	float: left;
	height: 418px;
	position: relative;
	width: 302px;
	z-index: 1;
	}
	.slider .artist img{
		height: 418px;
		opacity: 1; 
		transition: opacity 0.4s ease-in-out;
			-o-transition: opacity 0.4s ease-in-out;
			-moz-transition: opacity 0.4s ease-in-out;
			-webkit-transition: opacity 0.4s ease-in-out;
			-ms-transition: opacity 0.4s ease-in-out;  
		position: absolute;
		right: 0px;
		z-index: 3;
		}
	.slider .artist:hover img{
		 opacity: 0.6; 
		}
	.slider .artist:hover{
		text-decoration: none;
		}
	.slider .artist:hover .name{
		background: rgba(0, 0, 0 , 0.0); 
		top: 0px;
		}
	.slider .artist .name{
		background: rgba(0, 0, 0 , 0.4); 
		color: #fff;
		font: bold 16px/100px Verdana, Tahona, Arial;
		height: 100px;
		left: 0px;
		letter-spacing: 0.15em;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		transition: background 0.4s ease-in-out;
			-o-transition: background 0.4s ease-in-out;
			-moz-transition: background 0.4s ease-in-out;
			-webkit-transition: background 0.4s ease-in-out;
			-ms-transition: background 0.4s ease-in-out;  
		transition: top 0.4s ease-in-out;
			-o-transition: top 0.4s ease-in-out;
			-moz-transition: top 0.4s ease-in-out;
			-webkit-transition: top 0.4s ease-in-out;
			-ms-transition: top 0.4s ease-in-out;  
		top: 165px;
		width: 302px;
		z-index: 4;
		} 
		
/*custop text page artist*/
.artist_custom_text{
	color: #fff;
	float: left;
	letter-spacing: 0.15em;
	margin-top: 10px;
	text-align: center;
	width: 100%;
	}
	.artist_custom_text .title{
		font: bold 16px/24px Verdana, Tahona, Arial;
		text-transform: uppercase;
		}
	.artist_custom_text .text{
		font:  16px/24px Verdana, Tahona, Arial;
		text-transform: uppercase;
		}
	.artist_custom_text .mail{
		font:  14px Verdana, Tahona, Arial;
		}
		
/*filter*/
.filters{
	float: right;
	margin: 20px 0;
	padding-right: 40px;
	}
	.filters a{
		border-right: 2px solid #9d9d9d;
		color: #9d9d9d;
		float: left;
		height: 16px !important;
		text-transform: uppercase;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
		padding: 0 10px;
		}
		.filters a span{
			font: bold 16px/16px Verdana, Tahoma, Arial;
			letter-spacing: 0.15em;
			}
		.filters a.active span{
			font: bold 30px/16px Verdana, Tahoma, Arial;
			top: -4px;
			position: relative;
			}
		.filters a:last-child{
			border: none;
			padding: 0 0 0 10px;
			}
		.filters a.active{
			color: #fff;
			}
		.filters a:hover{
			color: #fff;
			text-decoration: none;
		}
		  
