.article{
	color: #eee;
	float: right;
	font: 14px/30px Tahoma, Arial !important;
	letter-spacing: 0.15em;
	padding: 0px 40px 20px;
	width: 920px;
	}
	.article a{
		color: #f25c06 !important;
		}
	.article b, .article strong{
		font-weight: bold !important;
		}
	.article i{
		font-style: italic !important;
		}
	.article p{
		margin-bottom: 20px !important;
		text-align: justify;
		}
		.article p:last-child{
			margin-bottom: 0px !important;
		}
	.article ul{
		list-style: square;
		padding: 10px 0px 10px  16px;
		}
	.article ol{
		list-style: decimal;
		padding: 10px 0px 10px  18px;
		}
	.article ul li, .article ol li{
		margin-bottom: 5px;
		}
.articles{
	border-bottom: 2px solid #9d9d9d;
	}
	.articles:last-child{
		border: none;
	}