.breadcrumbs{
	border-top: 1px solid #cacaca;
	float: left;
	height: 39px;
	width: 100%;
	}
	.breadcrumbs a{
		background: url('../../images/bullet.png') no-repeat;
		background-position: 0px 18px;
		color: silver;
		float: left;
		height: 39px;
		line-height: 39px;
		padding: 0 10px 0 15px;
		text-decoration: none;
		}
		.breadcrumbs a:hover{
			text-decoration: underline;
		}
		.breadcrumbs a:first-child{
			background: inherit;
			padding-left: 25px; 
		}
		.breadcrumbs a:last-child{
			color: #2e2e2e;
		}