.cart_list{
	counter-reset: point;
	float: right;
	list-style: none;
	margin-top: 10px;
	width: 690px;
	}
	.cart_list li{
		float: left;
		margin-bottom: 10px;
		min-height: 30px;
		position: relative;
		width: 100%;
		}
		.cart_list li:before{
			background: #45C431;
			color: #fff;
			content: counter(point);
			counter-increment: point 1;
			font: 10px/20px Tahoma, Arial;
			height: 20px;
			line-height: 20px;
			left: -30px;
			position: absolute;
			text-align: center;
			top: 0px;
			width: 20px;
			}
		.cart_list li .image{
			float: left;
			height: 50px;
			width: 40px;
			}
			.cart_list li .image a{
				display: table-cell;
				height: 50px;
				position: relative;
				text-align: left;
				transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
				vertical-align: middle;
				width: 40px;
				}
				.cart_list li .image a:hover{
					
					}
				.cart_list li .image a img{
					max-width: 40px;
					max-height: 50px;
					}
		.cart_list li .name{
			float: left;
			font-size: 14px;
			height: 50px;
			width: 290px;
			}
			.cart_list li .name a{
				color: #333;
				display: table-cell;
				height: 50px;
				text-align: left;
				text-decoration: underline;
				vertical-align: middle;
				width: 290px;
				}
				.cart_list li .name a:hover{
					text-decoration: none;
					}
			
		.cart_list li .count{
			color: #333;
			float: left;
			font: 14px/50px Tahoma, Arial;
			height: 50px;
			width: 120px;
			}
			.cart_list li .count .value{
				color: #45c431;
				float: left;
				line-height: 50px;
				margin-right: 10px;
				width: 40px;
				}
				.cart_list li .count .value span{
					color: #333;
					padding-left: 5px;
					}
			.cart_list li .count .plus{
				background: #fff url('../../images/plus.png') no-repeat;
				background-position: center center;
				float: left;
				cursor: pointer;
				height: 20px;
				margin: 15px 0px 0 0;
				transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out;
				width: 20px;
				}
				.cart_list li .count .plus:hover{
					background: #ECF8E9 url('../../images/plus.png') no-repeat;
					background-position: center center;
					}
			.cart_list li .count .minus{
				background: #fff url('../../images/minus.png') no-repeat;
				background-position: center center;
				cursor: pointer;
				float: left;
				height: 20px;
				margin: 15px 0px 0 0;
				transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out;
				width: 20px;
				}
				.cart_list li .count .minus:hover{
					background: #ECF8E9 url('../../images/minus.png') no-repeat;
					background-position: center center;
					}
		.cart_list li .price{
			color: #333;
			float: left;
			font-size: 14px;
			height: 50px;
			line-height: 50px;
			margin-left: 10px;
			text-align: left;
			width: 100px;
			}
		.cart_list li .delete{
			color: #eb3c00;
			cursor: pointer;
			float: right;
			font: 12px/50px Tahoma, Arial;
			text-align: center;
			text-decoration: underline;
			width: 90px;
			}
			.cart_list li .delete:hover{
				text-decoration: none;
				}		
.itogo{
	counter-reset: point;
	color: #333;
	float: right;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	width: 720px;
	}

			