.catalog_spisok{
	float: left;
	margin: 10px 0 10px 0;
	width: 100%;
	}
	.catalog_spisok a{
		float: left;
		height: 230px;
		margin: 0px 10px 10px 0;
		position: relative;
		width: 230px;
		}

		.catalog_spisok a .image{
			float: left;
			height: 230px;
			opacity: 0.4;
			overflow: hidden;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			width: 230px;
			}
			.catalog_spisok a .image img{
				width: 230px;
				}
		.catalog_spisok a .name{
			left: 0px;
			position: absolute;
			height: 230px;
			top: 0px;
			width: 230px;
			}
			.catalog_spisok a .name span{
				color: #666;
				font: 20px/20px 'Russo One', Tahoma, Arial;
				display: table-cell;
				height: 210px;
				vertical-align: middle;
				padding: 10px;
				text-align: center;
				transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out;
				width: 210px;
				}
	.catalog_spisok a:hover{
		
		}
		.catalog_spisok a:hover .image{
			opacity: 1;
			}
		.catalog_spisok a:hover .name span{
			color: #ffb900;
			}
