.add_comment{
	background: #fff;
	float: left;
	margin-top: 10px;
	padding: 0px;
	width: 720px;
	}
	.add_comment .left{
		float: left;
		height: 80px;
		margin-bottom: 10px;
		width: 720px;
		}
		.add_comment .left p{
			color: #45C431;
			font: italic normal 16px/20px  Tahoma, Arial;
			display: table-cell;
			height: 80px;
			text-align: center;
			vertical-align: middle;
			width: 720px;
			}
	.add_comment .right{
		display: none;
		float: right;
		width: 720px;
		}
		.add_comment .right .line{
			float: left;
			margin-bottom: 10px;
			width: 100%;
			}
			.add_comment .right .line .title{
				color: #727272;
				float: left;
				font: normal 14px/30px Tahoma, Arial;
				padding-right: 10px;
				text-align: right;
				width: 278px;
				}
			.add_comment .right .line .pole{
				float: left;
				width: 288px;
				}
				.add_comment .right .line .pole .add_image{
					color: #45C431;
					cursor: pointer;
					float: left;
					font: normal 14px/40px Verdana, Tahoma, Arial;
					height: 40px;
					text-decoration: underline;
					width: 220px;
					}
					.add_comment .right .line .pole .add_image:hover{
						text-docoration: none;
						}
					.add_comment .right .line .pole .add_image span{
						float: left;
						height: 40px;
						width: 50px;
						}
						.add_comment .right .line .pole .add_image span img{
							height: 40px;
							width: 40px;
							}
				.add_comment .right .line .pole .button{
					float: right;
					height: 38px;
					margin-bottom: 10px;
					width: 160px;
					}
					
.comment{
	float: left;
	margin-top: 20px;
	padding-bottom: 6px;
	width: 720px;
	}

	.ava{
		float: left;
		height: 144px;
		text-align: center;
		position: relative;
		width: 144px;
		}
		.ava img{
			height: 144px;
			width: 144px;
			}
	.telo{
		background: #fff;
		color: #727272;
		font: normal 14px/20px  Tahoma, Arial;
		float: right;
		min-height: 122px;
		width: 566px;
		}
		.telo .top{
			float: left;
			margin-bottom: 20px;
			width: 100%;
			}
			.telo .top .avtor{
				float: left;
				}
			.telo .top .date{
				float: right;
				color: #45c431;
				}
			.telo .com{
				float: left;
				width: 100%;
				} 

.avatar_select{
	float: left;
	width: 100%;
	}
	.avatar_select img{
		cursor: pointer;
		float: left;
		margin: 0px 10px 10px 0;
		opacity: 0.6;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
		width: 175px;
		}
		.avatar_select img:nth-child(4n){
			margin: 0px 0px 10px 0;
			}
		.avatar_select img.active{
			opacity: 1;
			}
		.avatar_select img:hover{
			opacity: 1;
			}