.phone{
	color: #fff;
	float: left;
	font: 20px/35px Verdana, Tahoma, Arial;
	letter-spacing: 0.15em;
	margin-top: 30px;
	text-transform: uppercase;
	width: 100%;
	}
	.phone .line{
		float: left;
		width: 100%;
		}
		.phone .line .left{
			float: left;
			text-align: right;
			width: 460px;
			}
		.phone .line .right{
			float: right;
			font-size: 27px;
			font-weight: bold;
			line-height: 30px;
			text-align: left;
			width: 520px;
			}
			
.adress{
	color: #fff;
	float: left;
	font: 18px/30px Verdana, Tahoma, Arial;
	letter-spacing: 0.15em;
	margin: 20px 300px;
	text-align: center;
	width: 380px;
	}
	
.grafic{
	float: left;
	width: 100%;
	}
	.grafic .days{
		height: 40px;
		float: left;
		margin: 10px 398px;
		width: 204px;
		}
		.grafic .days .day{
			background: url('../../images/cherep_white.png') no-repeat;
			float: left;
			cursor: pointer;
			height: 40px;
			margin-left: 1px;
			opacity: 1;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			width: 28px;
			}
			.grafic .days .day:hover{
				opacity: 0.5;
				}
			.grafic .days .day.off{
				background: url('../../images/cherep_red.png') no-repeat;
				}
				
	.grafic .days_text{
		color: #fff;
		float: left;
		font: 20px/20px Verdana, Tahoma, Arial;
		letter-spacing: 0.15em;
		text-align: center;
		width: 100%;
		}
	.grafic .days_time{
		color: #fff;
		float: left;
		font: bold 20px/20px Verdana, Tahoma, Arial;
		letter-spacing: 0.15em;
		margin-top: 5px;
		text-align: center;
		width: 100%;
		}
.custom_contacts{
	color: #fff;
	float: left;
	font: 14px/20px Verdana, Tahoma, Arial;
	letter-spacing: 0.15em;
	margin: 40px 0;
	text-align: center;
	width: 100%;
	}		
	.custom_contacts .line{
		float: left;
		width: 100%;
		}	
			