.tth{
	float: right;
	margin-top: 10px;
	width: 420px;
	}
	.tth .brand{
		float: left;
		height: 40px;
		width: 100%;
		}
		.tth .brand a{
			color: #333;
			float: left;
			height: 100%;
			text-decoration: underline;
			width: 100%;
			}
			.tth .brand a:hover{
				text-decoration: none;
				}
			.tth .brand a .image{
				float: left;
				height: 100%;
				width: 100px;
				}
				.tth .brand a .image img{
					max-width: 120px;
					max-height: 40px;
					}
			.tth .brand a .name{
				display: table-cell;
				font: 16px/20px Tahoma, Arial;
				height: 40px;
				vertical-align: middle;
				width: 320px;
				}
	
	.tth .status{
		color: silver;
		height: 40px;
		float: left;
		font: 14px/40px Tahoma, Arial;
		width: 100%;
		}
			
	.tth_price{
		height: 40px;
		float: left;
		font: 16px/20px Tahoma, Arial;
		margin-bottom: 10px;
		width: 100%;
		}
		.tth_price .cena{
			background: #ffb900;
			float: left;
			width: 140px;
			}
			.tth_price .cena .now{
				float: left;
				font: 20px/40px Tahoma, Arial;
				text-align: center;
				width: 100%;
				}
				.tth_price .cena .now.ifceil{
					font: 16px/20px Tahoma, Arial;
					text-decoration: line-through;
					}
				.tth_price .cena .ceil{
					color: #F25022;
					float: left;
					text-align: center;
					width: 100%;
					}
				.tth_price  .add_to_card{
					background: rgba(69, 196, 49, 0.1) url('../../images/add_to_cart.png') no-repeat;
					background-size: 30px;
					background-position: 10px 5px;
					color: #333;
					cursor: pointer;
					float: right;
					font: 14px/40px 'Russo One', Tahoma, Arial;
					height: 40px;
					padding-left: 50px;
					transition: all 0.1s ease-in-out;
						-o-transition: all 0.1s ease-in-out;
						-moz-transition: all 0.1s ease-in-out;
						-webkit-transition: all 0.1s ease-in-out;
						-ms-transition: all 0.1s ease-in-out;
					width: 220px;
					}
					.tth_price  .add_to_card:hover{
						background: rgba(69, 196, 49, 1) url('../../images/add_to_cart.png') no-repeat;
						background-size: 30px;
						background-position: 10px 5px;
						color: #fff;
						}
						
	.tth_table{
		float: left;
		width: 100%;
		}