.postr{
	float: right;
	height: 30px;
	margin: 20px 0;
	text-align: center;
	width: 100%;
	}
	.postr span{
		color: #fff;
		padding: 0 px;
		position: relative;
		width: 30px;
		}
	.postr .next{
		background:  url('../../images/arrow_slider_right.png') no-repeat;
		background-position: center center;
		padding: 20px 50px;
		opacity: 1;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition:  all 0.1s ease-in-out;
			-ms-transition: all  0.1s ease-in-out;
		}
	.postr .prev{
		background:  url('../../images/arrow_slider_left.png') no-repeat;
		background-position: center center;
		padding: 20px 50px;
		opacity: 1;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition:  all 0.1s ease-in-out;
			-ms-transition: all  0.1s ease-in-out;
		}
		.postr .prev:hover, .postr .next:hover{
			opacity: 0.5;
			}
	.str_a{
		color: #fff;
		font: 16px/30px Verdana, Tahoma, Arial;
		letter-spacing: 0.15em;
		padding: 10px 3px;
		text-decoration: none;
		text-align: center;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition:  all 0.1s ease-in-out;
			-ms-transition: all  0.1s ease-in-out;
		width: 30px;
		}
		.str_a:hover{
			font: bold 24px/32px Verdana, Tahoma, Arial;
			text-decoration: none;
			}

	.a.str_a{
		color: #fff;
		font: bold 24px/32px Verdana, Tahoma, Arial;
		text-decoration: none;
		}	