.page_title{
	background: url('../../images/poloska.png') no-repeat;
	float: left;
	font: bold 20px/66px Verdana, Tahoma, arial;
	height: 76px;
	letter-spacing: 0.15.em;
	margin: 30px 0;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.articles .page_title{
	background: transparent !important;
	font: bold 20px/40px Verdana, Tahoma, arial !important;
	height: 40px !important;
	letter-spacing: 0.15.em;
	margin: 10px 0 0 !important;
	padding: 0 10px;
	text-align: left !important;
	text-indent: 30px;
	text-transform: uppercase;
	width: 100%;
}
.page_master{
	float: left;
	font: bold 30px/40px Verdana, Tahoma, arial;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}
