

	.images{
		float: left;
		margin: 20px 39px 20px 40px;
		width: 921px;
		}

		
		.images a{
			color: #fff;
			float: left;
            height: 307px;
            overflow: hidden;
			position: relative;
			width: 307px;
			}
			.images a:hover{
				text-decoration: none;
				}
			.images a:hover .about{
				opacity: 1;
				}
			.images a:hover .img{
				opacity: 0.5;
				}
			.images a .img{
				display: table-cell;
				height: 307px;
				opacity: 1;
				position: relative;
				text-align: center;
				transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
				vertical-align: middle;
				width: 307px;
				}
				.images a .img img{
					height: 307px;
					}
			.images a .about{
				background: rgba(0, 0, 0 , 0.4); 
				height: 100px;
				left: 0px;
				opacity: 0.1;
				top: 103px;
				position: absolute;
				transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
				width: 307px;
				}
				.images a .about .mask{
					display: table-cell;
					height: 100px;
					vertical-align: middle;
					text-align: center;
					width: 307px;
					}
					.images a .about .mask .name{
						display: block;
						font-style: italic;
						font:  20px/20px Verdana, Tahona, Arial;
						letter-spacing: 0.15em;
						padding: 0 20px;
						text-transform: uppercase;
						font-style: italic;
						}
					.images a .about .mask .date{
						font:  14px/20px Verdana, Tahona, Arial;
						display: block;
						letter-spacing: 0.15em;
						}
					.images a .about .mask .master_name{
						font: bold  20px/30px Verdana, Tahona, Arial;
						display: block;
						letter-spacing: 0.15em;
						text-transform: uppercase;
						}
