	.product{
		background: #fff;
		float: left;
		height: 220px;
		margin-bottom: 10px;
		position: relative;
		transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
			-moz-transition: all 0.1s ease-in-out;
			-webkit-transition: all 0.1s ease-in-out;
			-ms-transition: all 0.1s ease-in-out;
		width: 180px;
		}
		.product .title{
			float: left;
			height: 40px;
			width: 100%;
			}
			.product .title a{
				color: #333;
				display: table-cell;
				font: 13px/20px Tahoma, Arial;
				height: 40px;
				padding: 0 10px;
				text-align: center;
				vertical-align: middle;
				width: 160px;
				}
		.product .label{
			background: #F58362; /*#F25022;*/
			color: #fff;
			font: 10px/20px 'Russo One',Tahoma, Arial;
			left: -25px;
			padding: 0 10px;
			position: absolute;
			text-align: center;
			top: 21px;
			transform: rotate(45deg);
				-moz-transform: rotate(315deg); 
				-ms-transform: rotate(315deg); 
				-webkit-transform: rotate(315deg); 
				-o-transform: rotate(315deg); 
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			width: 90px;
			}
		.product .image{
			float: left;
			height: 140px;
			margin: 0 10px;
			position: relative;
			overflow: hidden;
			width: 160px;
			}
			.product .image a{
				background: #fff;
				display: table-cell;
				height: 140px;
				text-align: center;
				vertical-align: middle;
				width: 160px;
				}
				.product .image a img{
					max-height: 120px;
					}
		.product .price{
			float: left;
			font: 14px/20px Tahoma, Arial;
			height: 40px;
			padding: 0 0 0 10px;
			transition: all 0.1s ease-in-out;
				-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
				-webkit-transition: all 0.1s ease-in-out;
				-ms-transition: all 0.1s ease-in-out;
			width: 170px;
			}
			.product .price .add_to_cart{
				background: rgba(69, 196, 49, 0.1) url('../../images/add_to_cart.png') no-repeat;
				background-position: center center;
				background-size: 25px;
				cursor: pointer;
				float: right;
				height: 40px;
				transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out;
				width: 40px;
				}
				.product .price .add_to_cart:hover{
					background: rgba(69, 196, 49, 1) url('../../images/add_to_cart.png') no-repeat;
					background-position: center center;
					background-size: 25px;
					}
			.product .price .now{
				color: #333;
				float: left;
				height: 40px;
				line-height: 40px;
				width: 130px;
				}
				.product .price .now.ifceil{
					height: 20px;
					line-height: 20px;
					text-decoration: line-through;
					}
			.product .price .ceil{
				color: #F25022;
				float: left;
				height: 20px;
				width: 130px;
				}
				
/*****************************************************************************
******************************************************************************
***************************	.product:HOVER	 *********************************
******************************************************************************
*****************************************************************************/
.product:hover{
	background: #ffb900;
	}
	.product:hover .label{
		background: #F25022;
		}


