.slider{
	border: 7px solid #262626;
	box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
			-moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
			-ms-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
			-o-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
	   		-webkit-box-shadow:  0px 5px 15px rgba(0,0,0,0.9);
	float: left;
	height: 418px;
	margin: 0 40px 10px; 
	position: relative;
	width: 906px;
	z-index: 1;
	}
	.slider_navigation{
		float: left;
		height:0px;
		position: absolute;
		top: 165px;
		width: 100%;
		z-index: 6;
		}
		.slider .arrow_left{
			background: rgba(0,0,0,0.7) url('../../images/arrow_slider_left.png') no-repeat;
			background-position: center center;
			cursor: pointer;
			height: 100px;
			left: -47px;
			opacity: 1;
			position: absolute;
 			transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out; 
			width: 40px;
			z-index: 6;
			}
			.slider .arrow_left:hover{
				opacity: 0.5;
				}
		.slider .arrow_right{
			background: rgba(0,0,0,0.7) url('../../images/arrow_slider_right.png') no-repeat;
			background-position: center center;
			cursor: pointer;
			height: 100px;
			right: -47px;
			opacity: 1;
			position: absolute;
 			transition: all 0.1s ease-in-out;
					-o-transition: all 0.1s ease-in-out;
					-moz-transition: all 0.1s ease-in-out;
					-webkit-transition: all 0.1s ease-in-out;
					-ms-transition: all 0.1s ease-in-out; 
			width: 40px;
			z-index: 3;
			}
			.slider .arrow_right:hover{
				opacity: 0.5;
				}
.slider_mask{
	float: left;
	height: 418px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 906px;
	}
	.slider_content{
		float: left;
		height: 418px;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 2;
		}
		.slider_content .slide{
			height: 418px;
			position: absolute;
			overflow: hidden; 
			width: 302px;
			z-index: 1;
			} 
		.slider_content.big .slide{
			height: 418px;
			position: absolute;
			overflow: hidden; 
			width: 906px;
			z-index: 1;
			} 
			.slider_content.big .slide .some_slide{
				float: left;
				height: 418px;
				width: 100%;
				}
				.slider_content.big .slide .some_slide img{
					width: 100%;
					}
				.slider_content.big .slide .some_slide .text{
					background: rgba(0,0,0, 0.5);
					bottom: 0;
					color: #fff;
					height: 100px;
					left: 0px;
					padding: 0 30px;
					width: 846px;
					position: absolute;
					}	
					.slider_content.big .slide .some_slide .text span{
						font: 12px/20px Verdana, Tahoma, Arial;
						font-style: italic;
						display: table-cell;
						height: 100px;
						letter-spacing: 0.15.em;
						vertical-align: middle;
						width: 846px;
						}
	.slider_mask .sl_navigate{
		background: red;
		bottom: 20px;
		position: absolute;
		height: 0px;
		z-index: 1000;
		width: 100%;
		}	
		.slider_mask .sl_navigate .sl_content{
			background: blue;
			display: block;
			height: 0px;
			margin: 0 auto;
			text-align: center;
			width: 200px;
			}	
			.slider_mask .sl_navigate .sl_content:after{
				content: '.';	
				clear: both;
				display: block;
				height: 0;
				
				visibility: hidden;	
				}	
				.slider_mask .sl_navigate .sl_content .iden{
					background: #c9c9c9;
					border-radius: 5px;
					display: inline-block;
					height: 5px;
					margin: 3px 5px;
					width: 5px;
					}		
				.slider_mask .sl_navigate .sl_content .iden:last-child{
					margin-right: 0px;
				}
				.slider_mask .sl_navigate .sl_content .iden.active{
					background: orange;
					border-radius: 10px;
					height: 10px;
					margin: 0px 5px;
					width: 10px;
					}